# top-most EditorConfig file
root = true

# Some defaults for every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# PHP makes use of 4 space indentation
[*.php{,3,4,5,7}]
indent_size = 4
